name: Java CI with Maven

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # Step 1: Build JAR
      - name: Build with Maven
        run: mvn -B package -DskipTests

      # Step 2: Build & push Docker image
      - name: Build & Push Docker image
        env:
          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
          DOCKERHUB_PWD: ${{ secrets.DOCKERHUB_PWD }}
        run: |
          echo $DOCKERHUB_PWD | docker login -u $DOCKERHUB_USER --password-stdin
          docker build -t $DOCKERHUB_USER/movies:latest .
          docker push $DOCKERHUB_USER/movies:latest
